@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
}

html {
    min-height: 100%;
    font-size: 0.625em;
}

@media (min-width: 100em) {
    body {
        font-size: 0.75em;
    }
}

@media (min-width: 120em) {
    body {
        font-size: 1.0em;
    }
}

@media (min-width: 120em) {
    body {
        font-size: 1.25em;
    }
}

body {
    font-family: 'Montserrat', sans-serif;
    min-height: 100%;
    margin: 0;
    padding: 0;

    background-color: rgb(100, 100, 100);
    background-image: linear-gradient(101deg, rgb(226, 29, 60) 50%, transparent 50%),
                      url(../images/waves.svg),
                      linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
                      url(../images/bg-pic.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%, 40% auto, 100% 100%, calc(50% + 20vh) auto;
    background-position: -10vh 50%, 100% 100%, 50% 50%, 100% 25%;
    background-attachment: fixed;
}

@media (max-width: 62.5em) {
    body {
        background-color: rgb(226, 29, 60);
        background-image: url(../images/waves-white.svg);
        background-size: 40% auto;
        background-position: 100% 100%;
        background-repeat: no-repeat;
    }
}

.page {
    display: flex;
    flex: 1 0 auto;
}

@media (max-width: 62.5em) {
    .page {
        flex-direction: column;
    }
}

.main-content {
    flex: 0 0 40%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.countdown {
    flex: 0 1 60%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo {
    width: 27.5rem;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
}

.main-offer {
    margin: 7.5rem 1.5rem 10rem 1.5rem;
    align-self: center;
    flex: 1 0 auto;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.main-heading {
    margin: 3rem 0 0 0;
    letter-spacing: 0.05em;
    font-style: italic;
    font-size: 2.8rem;
    font-weight: normal;
    color: white;
}

.main-heading > strong {
    text-transform: uppercase;
}

.main-offer-price {
    display: block;
    font-size: 12rem;
    margin-top: 1.8rem;
}

.join-today {
    display: inline-block;
    font-size: 2.4rem;
    background-color: black;
    color: white;
    border-radius: 9999px;
    padding: 1rem 5rem;
    margin-top: 4rem;
    text-transform: uppercase;
    text-decoration: none;
}

.join-today:hover {
    background-color: rgb(100, 100, 100);
}

.footer-paragraph {
    margin: 1.5rem 0 1.5rem 1.5rem;
    color: black;
    font-size: 1.6rem;
}

.countdown-heading {
    margin: 0;
    color: white;
    text-align: center;
    letter-spacing: 0.05em;
    font-size: 2.8rem;
    font-weight: normal;
    text-transform: uppercase;
}

.countdown-paragraph {
    margin: 0;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 5.8rem;
}
